*{
    box-sizing:border-box;
}

.bio{
    width: 50%;
    float: left;
    border: 1px solid transparent;
}

.pic{
    width: 50%;
    float: left;
    border: 1px solid transparent;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

a:link, a:visited {
    border-radius: 25px;
    color: white;
    background-color: #787878;
    padding: 15px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    
}

a:hover, a:active {
    background-color: #b4b4b4;
}
