*{
    box-sizing:border-box;
}

.left{
    width:25%;
    float:left;
    border: 1px solid red;
}
.left2{
    width:50%;
    float:left;
    border: 1px solid red;
}
.left3{
    width:75%;
    float:left;
    border: 1px solid red;
}
.left4{
    width:100%;
    float:left;
    border: 1px solid red;
}

.lefty{
    width:75%;
    float:left;
    border: 1px solid red;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

h1 {
    color:white;
    font-family: "Times New Roman";
    font-size:60px;
    text-align:center;
    margin-bottom:0px;
}

p {
    color:white;
    font-family:georgia;
    font-size:25px;
}

body {
    background:url('https://i.imgur.com/pjITuv6.png') no-repeat fixed center;
    background-size:cover;

}
