*{
    box-sizing:border-box;
}

.pic{
    width: 25%;
    float: left;
    border: 1px solid red;
}

.desc{
    width: 75%;
    float: left;
    border: 1px solid red;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

a, a:link, a:visited {
    
}

a:hover, a:active {
}

h1 {
    color:white;
    font-family:"Times New Roman";
    font-size:60px;
    text-align:center;
    margin-bottom:0px;
    margin-top:0px;
}

h2{
    color:white;
    font-family:"Times New Roman";
    font-size:40px;
    text-align:left;
    margin-bottom:0px;  
    margin-top:0px;
}

p {
    color:white;
    font-family:georgia;
    font-size:12px;
}

body {
    background:url('https://i.imgur.com/pjITuv6.png') no-repeat fixed center;
    background-size:cover;

}

