name: Publish Website to Dev Bucket

on:
  push:
    branches:
      - '**'
      - '!master'

env:
  AWS_DEFAULT_REGION: us-west-2
  BUCKET_NAME: www.ethanp.dev

jobs:
  dev-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: make install

      - name: Build
        run: make build

      - name: Upload to S3
        run: |
          aws s3 sync --size-only dist s3://$BUCKET_NAME/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}
